<div class=" text-gray-800 bg-gray-100">
    <div class="our-priority-section">
        <div class="our-priority-heading">
            <h2 class="priority-heading-style">
                {{priorityHeading1}} <span class="text-blue-500 font-extrabold">{{priorityHeading2}}</span>
            </h2>
            <p class="priority-text">{{priorityText}}</p>
        </div>

        <div class="priority-container">
            <div class="text-center">
                <div class="mb-4">
                    <img src="{{icon1}}" alt="Pipe Leaking Icon" class="priority-icons">
                </div>
                <h3 class="icons-title">{{iconsTitle1}}</h3>
                <p class="icons-text">
                    {{iconsText1}}
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4">
                    <img src="{{icon2}}" alt="Drain Cleaning Icon" class="priority-icons">
                </div>
                <h3 class="icons-title">{{iconsTitle2}}</h3>
                <p class="icons-text">
                    {{iconsText2}}
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4">
                    <img src="{{icon3}}" alt="Toilet Leaking Icon" class="priority-icons">
                </div>
                <h3 class="icons-title">{{iconsTitle3}}</h3>
                <p class="icons-text">
                    {{iconsText3}}
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4">
                    <img src="{{icon4}}" alt="Bathtub Installation Icon" class="priority-icons">
                </div>
                <h3 class="icons-title">{{iconsTitle4}}</h3>
                <p class="icons-text">
                    {{iconsText4}}
                </p>
            </div>
        </div>
    </div>
</div>