{% extends "components/shared/base.html" %}

{% block content %}

<!-- Hero Section -->
{% include "components/home/hero.html" %}

{% include "components/home/cards.html" %}

{% include "components/home/services.html" %}

{% include "components/home/plumbing-care.html" %}

{% include "components/home/blog-cards.html" %}

{% include "components/home/emergency-services.html" %}

{% include "components/home/area-served.html" %}

{% include "components/home/f-and-q.html" %}

{% include "components/home/testimonial.html" %}

{% include "components/home/why-choose-us.html" %}

{% include "components/home/contact-details.html" %}

{% endblock %}