{% extends "components/shared/base.html" %}

{% block content %}

<!-- Hero Section -->
{% include "components/home/hero.html" %}

{% include "components/home/cards.html" %}

{% include "components/home/services.html" %}

{% include "components/home/plumbingCare.html" %}

{% include "components/home/blogCards.html" %}

{% include "components/home/emergencyServices.html" %}

{% include "components/home/areaServed.html" %}

{% include "components/home/fandQ.html" %}

{% include "components/home/testimonial.html" %}

{% include "components/home/whyChooseUs.html" %}

{% include "components/home/contactDetails.html" %}

{% endblock %}