@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.nav-container {
    @apply bg-primary text-white w-full flex justify-between items-center py-6 px-8 shadow-xl z-40 fixed top-0 left-0 mb-40;
}

.logo {
    @apply flex items-center;
}

.logo-text {
    @apply text-2xl font-bold text-white;
}

.desktop-navbar {
    @apply lg:flex space-x-6 ml-12 text-lg text-white hidden;
}

.desktop-elements {
    @apply hover:font-bold hover:border-b-2 hover:border-blue-500 transition duration-700 ease-in-out;
}


.desktop-dropdown {
    @apply absolute hidden group-hover:block bg-gray-200 shadow-lg mt-0 text-base w-52 text-center;
}

.desktop-dropdown-link {
    @apply block px-4 py-2 hover:bg-gray-300 hover:text-primary hover:font-bold pt-3 pb-3 text-black;
}


.contact-number {
    @apply lg:block text-gray-200 hidden;
}


/* Mobile Dropdown */

.mobile-dropdown {
    @apply fixed lg:hidden bg-black text-lg py-8 px-8 w-1/2 mt-0 shadow-xl right-0 top-0 h-full transform transition-transform duration-300 ease-in-out mt-28;
    z-index: 99999;
    top: 0;
    right: 0;
    overflow: visible;
}

.mobile-dropdown.show {
    @apply translate-x-0;
}

.mobile-dropdown.hidden {
    @apply translate-x-full;
}

#dropdown-menu {
    @apply flex flex-col gap-2 items-start mt-28;
    flex-direction: column;
}

.dropdown-item {
    @apply flex-none mt-3;
}

.mobile-dropdown-list {
    @apply px-2 py-2 text-white text-lg hover:font-bold relative;
    transition: all 0.3s ease-in-out;
}



/* Hero Section */

.hero-section {
    @apply flex flex-col md:flex-row items-center p-8 md:p-16 text-center md:text-left min-h-screen relative bg-cover bg-center mt-28 md:pt-0 mx-auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-overlay {
    @apply absolute inset-0 bg-black opacity-60;
}

.hero-content {
    @apply relative flex-1 space-y-4 text-white md:ml-20;
}

.hero-heading {
    @apply font-bold text-4xl md:text-7xl mb-5;
}

.hero-contact {
    @apply flex items-center space-x-4 pt-3 ml-10 md:ml-5 mb-5;
}

.hero-contact-icon {
    @apply rounded-full p-2 w-12 h-12 flex items-center justify-center;
}

.hero-contact-number {
    @apply text-xl font-semibold;
}

.btn-red {
    @apply bg-red-600 text-lg text-white font-bold py-4 px-10 rounded text-xl ml-[20px] transform transition duration-300 ease-in-out hover:bg-red-700 hover:scale-105 hover:shadow-lg;
}

.hero-image {
    @apply relative flex-1 mt-8 md:mt-0;
}

.hero-image img {
    @apply w-full max-w-[1200px] h-auto ml-auto;
}


/* Cards Section */

.cards-section {
    @apply relative -mt-36 z-10;
}

.card-container {
    @apply container mx-auto px-4 py-8;
}

.cards-grid {
    @apply grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

.card {
    @apply shadow-lg overflow-hidden transform transition-transform duration-300 flex flex-col;
}

.card-image {
    @apply w-full h-52 object-cover;
}

.card-content {
    @apply p-4 text-white flex flex-col flex-grow;
}

.card-title {
    @apply text-lg font-bold;
}

.card-text {
    @apply mt-2 text-sm flex-grow;
}

.card-link {
    @apply mt-4 text-sm font-semibold hover:underline;
}

.button-container {
    @apply flex justify-center mt-6;
}

.more-service-btn {
    @apply bg-red-600 text-sm text-white py-3 px-7 rounded text-lg ml-[20px] transform transition duration-300 ease-in-out hover:bg-red-700 hover:scale-105 hover:shadow-lg md:mt-7;
}

/* Section container */

.carousel-container {
    @apply mx-auto max-w-6xl py-12 px-4;
}

.slide-style {
    @apply min-w-full p-8 grid md:grid-cols-2 md:gap-12 items-center;
    transition: flex-direction 0.3s ease;
}

.section-heading {
    @apply text-3xl font-bold uppercase text-black text-center md:mb-14 mb-5;
}

.image-style {
    @apply w-96 object-contain lg:ml-32;
}

.content-style {
    @apply text-gray-800;
}

.content-style h3 {
    @apply md:text-3xl text-2xl font-bold text-gray-800 pb-8 mt-3 md:mt-0;
}

.title {
    @apply text-lg font-semibold text-gray-700 mb-2;
}

.title i {
    @apply text-2xl mr-1 text-primary hover:text-black;
}

.description {
    @apply text-base text-gray-600;
}

.control-style {
    @apply text-white;
}

.dot-style {
    @apply w-3 h-3 rounded-full bg-gray-400 hover:bg-blue-600 transition-colors;
}

/* Responsiveness for small screens (Mobile & Tablet) */
@media (max-width: 768px) {
    .slide-style {
        @apply flex-col;
    }

    .image-style {
        @apply h-48;
    }

    .content-style {
        @apply text-center mt-4;
    }

    .title {
        @apply text-xl font-bold;
    }

    .description {
        @apply text-base;
    }

    .control-style {
        @apply w-8 h-8 text-lg;
    }

    .dot-style {
        @apply w-2.5 h-2.5;
    }
}

/* Plumbing Care Section Home Page */

.plumbing-care-section {
    @apply flex flex-col md:flex-row items-center justify-center text-center md:text-left min-h-[80vh] relative bg-cover bg-center;
}

.bg-header {
    @apply bg-blue-600 py-3 absolute top-0 left-0 w-full flex flex-col sm:flex-row justify-between items-center px-4 z-10;
    top: 0;
}

.care-bg-overlay {
    @apply absolute top-0 left-0 w-full h-full bg-black/100 z-0 opacity-80;
}

.title-header {
    @apply text-2xl font-bold md:text-3xl sm:pb-2 pt-2 sm:pt-2 md:ml-20 sm:text-left text-white;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 1rem;
    position: relative;
    z-index: 5;
}

.care-main-content {
    @apply flex flex-col justify-center items-center bg-black/100 p-5 mt-32 w-full;
}

.care-heading {
    @apply text-3xl sm:text-4xl md:text-5xl font-semibold mb-4 sm:mb-0 md:mb-8 text-center text-white md:mt-36 px-4 sm:px-6 md:px-8 py-4 sm:py-6 md:py-8;
}

.counter-section {
    @apply flex flex-col md:flex-row items-center mt-10 mb-20 space-y-8 md:space-y-0 md:gap-20;
}

.counter-box {
    @apply text-center text-white;
}

.counter-value {
    @apply text-6xl font-bold text-primary;
}

.counter-description {
    @apply mt-2 text-lg w-56;
}

.plumbing-care {
    @apply flex flex-col mt-7 md:flex-row items-center justify-center text-center md:text-left relative bg-cover bg-center;
}


/* Blog Cards */

.blog-section {
    @apply cards-section flex flex-col items-center justify-center text-white relative pb-16 bg-cover bg-center md:pt-80 pt-[400px];
}

.blog-cards-container {
    @apply flex flex-col md:flex-row gap-6 relative px-4 sm:px-6 lg:px-8 mx-2 sm:mx-4 lg:mx-8;
}

.blog-cards {
    @apply bg-white text-black shadow-lg w-72 p-4 relative;
}

.blog-card-image {
    @apply w-full h-48 object-cover rounded-md;
}

.blog-head {
    @apply text-red-600 font-bold text-sm;
}

.blog-card-heading {
    @apply text-base font-semibold mt-2;
}

.blog-btn {
    @apply bg-btnColor text-white px-4 py-2 rounded mt-4 transform transition duration-300 ease-in-out hover:bg-red-700 hover:scale-105 hover:shadow-lg;
}


/* Emergency Services */

.emergency-service-heading {
    @apply text-3xl mt-12 font-bold text-gray-900 text-center sm:text-left;
}

.emergency-service-container {
    @apply grid grid-cols-1 md:grid-cols-2 gap-10 mt-10 mb-10 px-10 sm:px-12 lg:px-16 mx-4 sm:mx-8 lg:mx-12 bg-white;
}

.emergency-services {
    @apply flex items-center space-x-4;
}

.emergency-services i {
    @apply text-4xl text-primary hover:text-black;
}

.emergency-service-title {
    @apply text-base mb-2 font-semibold text-gray-900;
}

.service-description {
    @apply text-gray-700 text-base;
}


/* Area Served Home Page */
.area-served-container {
    @apply container mx-auto px-4 mb-20;
}

.area-served-heading {
    @apply text-3xl font-bold text-center mb-12;
}

.area-cards-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;
}

.area-card-image {
    @apply w-full h-72 object-cover rounded-lg;
}

.card-styling {
    @apply absolute inset-0 bg-blue-500 bg-opacity-70 rounded-lg flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300;
}

.area-name {
    @apply text-white text-xl font-semibold mb-2;
}

.arrow-icon {
    @apply text-white text-5xl transform transition-transform duration-300 hover:scale-110;
}


/* FAQ */

.faq-section {
    @apply w-3/4 lg:w-3/4 bg-blue-100 p-6 shadow-md mx-auto;
}

.faq-heading {
    @apply text-xl font-bold text-gray-500 mb-4;
}

.faq-subheading {
    @apply text-xl font-semibold mb-6 text-secondary text-3xl;
}

.faq-item {
    @apply bg-white p-4 mb-3 shadow-sm;
}

.faq-question {
    @apply flex justify-between items-center text-lg font-medium cursor-pointer text-gray-800 hover:text-primary;
}

.faq-answer {
    @apply mt-3 text-gray-700 text-white text-base bg-primary px-2 pt-3 pb-3;
}

.toggle-icon {
    @apply text-blue-600 font-bold;
}


/* Keen Slider custom styles */

.keen-slider {
    @apply relative flex overflow-hidden;
}

.keen-slider__slide {
    @apply flex-shrink-0 w-full opacity-100 transition-opacity duration-500;

}

.customer-section {
    @apply bg-white;
}

.review-container {
    @apply mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16;
}

.review-heading {
    @apply text-3xl font-bold text-center text-primary mb-10 pb-4 mt-4;
}

.blockquote-style {
    @apply bg-blue-300 p-6 shadow-sm sm:p-8;
}

.review-card {
    @apply flex flex-col items-center gap-4 justify-between;
    height: 200px;
    text-align: center;

}

.review-image {
    @apply rounded-full object-cover;
    flex-shrink: 0;
    height: 130px;
    width: 130px;
}

.stars {
    @apply flex justify-center gap-0.5;
    flex-shrink: 0;
}

.stars i {
    @apply text-xl;
}

.customer-name {
    @apply text-lg font-medium text-gray-900;
    max-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer-review {
    @apply mt-4 text-gray-800;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.slider {
    @apply w-16 text-center text-sm text-gray-700;
}

.arrows {
    @apply text-gray-600 hover:text-gray-900;
}

/* Why Choose Us */

.why-choose-us {
    @apply bg-gray-100 flex items-center justify-center min-h-[60vh] md:pl-20;
}

.why-us-subheading {
    @apply text-base uppercase text-gray-500 font-semibold;
}

.why-us-heading {
    @apply text-4xl font-bold text-gray-800;
}

.why-us-text {
    @apply text-gray-700;
}

.contact-icon {
    @apply rounded-full w-12 h-12 flex items-center justify-center;
}

.contact {
    @apply text-2xl font-bold text-gray-800;
}

.why-us-btn {
    @apply bg-btnColor;
}

/* Contact Details */
.contact-details {
    @apply relative w-full bg-cover bg-center text-white py-4 flex items-center justify-center lg:h-[70vh] md:h-[100vh] h-full;
}

.contact-bg {
    @apply bg-primary bg-opacity-80 w-full h-full absolute top-0 left-0;
}

.contact-container {
    @apply min-h-screen flex items-center justify-center;
}

.contact-container-styling {
    @apply relative container mx-auto px-4 text-center;
}

.contact-heading {
    @apply text-2xl md:text-4xl font-bold;
}

.head-text {
    @apply text-lg md:text-lg mt-4;
}

.block-info {
    @apply mt-12 grid grid-cols-2 md:grid-cols-4 gap-8;
}

.block-styling {
    @apply flex flex-col items-center;
}

.block-number {
    @apply text-3xl font-bold;
}

.block-text {
    @apply text-white mt-2 font-bold;
}

.info-block {
    @apply mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8;
}

.info-block-styling {
    @apply bg-gray-800 bg-opacity-90 p-6 rounded-lg text-left;
}

.block-icon i {
    @apply text-blue-400 mb-2 text-4xl hover:text-headingYellow;
}

.info-block-text {
    @apply text-xl font-semibold mb-2 text-white;
}

/* Footer */
.map-container {
    @apply relative w-full overflow-hidden shadow-md;
}

.map-placeholder {
    @apply absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.map-placeholder i {
    @apply text-7xl text-primary;
}

.footer {
    @apply bg-gray-800 text-white py-8 px-4 md:px-12 pb-20;
}

.footer-container {
    @apply mx-auto flex flex-col md:flex-row md:justify-between space-y-8 md:space-y-0 mt-20;
}

.footer-style {
    @apply md:w-1/3 flex flex-col items-center md:items-start space-y-4;
}

.footer-logo {
    @apply text-center md:text-left;
}

.footer-logo img {
    @apply h-20 w-auto mx-auto md:mx-0;
}

.footer-icons {
    @apply flex space-x-4 mt-4 justify-center md:justify-start;
}

.footer-icons-style {
    @apply text-white hover:text-blue-400;
}

.footer-links {
    @apply md:w-1/3 text-center md:text-left;
}

.links-alignment {
    @apply grid grid-cols-2 gap-4;
}

.links-alignment a {
    @apply hover:text-primary;
}

.footer-payment-modes {
    @apply md:w-1/3 flex justify-center md:justify-end;
}

.footer-payment-modes a {
    @apply h-12 hover:scale-105;
}

/* Banner */

.banner-container {
    @apply flex items-center justify-center mt-28;

}

.banner-bg {
    @apply relative h-full w-full bg-cover bg-center;
}

.banner-style {
    @apply absolute inset-0 bg-black bg-opacity-50;
}

.banner-Text {
    @apply relative flex flex-col items-center justify-center h-full text-center text-white px-4;
}

.bannerHeading {
    @apply text-4xl md:text-5xl font-bold;
}

/* --------ABOUT PAGE STYLING--------- */

.exp-section {
    @apply bg-blue-100 flex flex-col md:flex-row h-auto items-center justify-center py-0 px-0 bg-blue-100 mb-0 pb-0 md:px-16 lg:px-24 md:space-y-0 md:space-x-16 space-y-0 gap-y-0;
}

.expImg {
    @apply text-4xl mb-4 w-12 h-12;
}

.exp-Text1 {
    @apply text-2xl md:text-3xl font-bold text-gray-800 mt-10 md:mt-0 text-center md:text-left;
}

.person-name {
    @apply text-lg font-semibold text-gray-800;
}

.ceo-text {
    @apply text-sm text-gray-500;
}

.ceo-img {
    @apply flex-1 md:order-2 md:mb-0 mb-0;
}

.ceo-img img {
    @apply h-[22rem] w-auto md:h-[34rem] md:w-[22rem] mx-auto mb-0;

}

/* For Mobile (small screen) */
@media (max-width: 767px) {
    .exp-section {
        @apply h-auto px-4 py-4;
    }

    .exp-Text1 {
        @apply text-xl text-center justify-center mr-10;
    }

    .ceo-img img {
        @apply h-[20rem] w-auto;
    }

    .ceo-img {
        @apply mb-0 justify-center text-center;
    }
}


/* Counter about page */

.about-counter-container {
    @apply flex flex-row justify-center items-center my-16 px-6 mt-0 mb-0 pt-10 pb-10;
}

.counter-num {
    @apply text-4xl md:text-5xl font-bold text-white;
}

.counter-name {
    @apply text-white font-bold text-lg mt-2;
}


/* Why Choose Us */
.why-choose-us-container {
    @apply flex flex-col md:flex-row items-center justify-center bg-white pt-3 md:px-16 lg:px-24 space-y-8 md:space-y-0 md:space-x-8;
}

.why-us-img {
    @apply max-w-[460px] max-h-[500px] mx-auto lg:max-w-[400px] lg:max-h-[550px];
}

.why-us-container {
    @apply flex-1 w-full md:w-1/2 space-y-6 pt-5 md:pr-20 pl-6 pr-5 mb-0;
}

.whyus-heading {
    @apply text-4xl font-bold text-gray-800;
}

.whyus-text {
    @apply text-gray-700;
}

.btn-whyus {
    @apply bg-btnColor text-white px-4 py-2 rounded lg:block hidden transform transition duration-300 ease-in-out hover:bg-red-600 hover:scale-105 hover:shadow-lg;
}

/* What we do section */

.progress-container {
    @apply relative w-32 h-32 flex items-center justify-center;
}

.svg-circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.whatwedo-section {
    @apply bg-cover bg-center bg-no-repeat bg-fixed mb-16;
}

.whatwedo-container {
    @apply bg-black bg-opacity-60 h-full flex items-center justify-center;
}

.wwd-heading-style {
    @apply w-full max-w-7xl px-4 text-center text-white;
}

.wwd-heading {
    @apply text-white uppercase font-bold text-4xl mb-7;
}

.wwt-text {
    @apply text-2xl font-semibold mt-5 mb-20;
}

.circle-container {
    @apply flex flex-wrap justify-center;
}

.circle-progressbar {
    @apply absolute text-4xl font-bold text-primary;
}

.progress-text {
    @apply md:text-lg mt-4 mb-4;
}

/* ----- CONTACT PAGE ------- */

.form-container {
    @apply py-12 bg-gray-100 pt-20 pb-20;
}

.form-section {
    @apply grid grid-cols-1 md:grid-cols-4 gap-6 items-stretch;
}

.form-section-style {
    @apply col-span-1 flex flex-col justify-between space-y-4;
}

.form-cards {
    @apply bg-white shadow-md rounded-lg p-4 text-center transform transition duration-300 hover:scale-105 hover:shadow-lg flex flex-col justify-center;
}

.card-img {
    @apply flex items-center justify-center h-12 w-12 mx-auto mb-2 rounded-full;
}

.visit {
    @apply text-lg font-semibold mb-1;
}

.visit-text {
    @apply text-gray-600 text-sm;
}

.visit-details {
    @apply bg-white shadow-md rounded-lg p-6 md:p-8 h-full;
}

.form-heading {
    @apply text-3xl md:text-4xl text-black mb-6 md:mb-8 font-semibold;
}

.form-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6;
}

.form-placeholder {
    @apply w-full p-3 md:p-4 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none;
}

/* -------- GALLERY PAGE --------- */

.gallery-section {
    @apply p-4 mt-10 md:ml-20 md:mr-20 mb-20 ml-5 mr-5;
}

.gallery-container {
    @apply grid gap-8 sm:grid-cols-2 lg:grid-cols-3;
}

.gallery-cards {
    @apply relative overflow-hidden shadow-lg;
}

.gallery-card-img {
    @apply w-full h-96 object-cover transition-transform duration-500 group-hover:scale-105;
}

.gallery-card-style {
    @apply absolute inset-0 bg-blue-500 bg-opacity-70 flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300;
}

.gallery-card-details {
    @apply text-white w-40 h-40 flex flex-col items-center justify-center rounded-md;
}

.gallery-card-title {
    @apply text-2xl font-bold;
}


/* --------- SERVICES PAGE STYLING ----------- */

.our-priority-section {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-16;
}

.our-priority-heading {
    @apply text-center mb-12;
}

.priority-heading-style {
    @apply text-3xl sm:text-3xl text-gray-900 font-extrabold;
}

.priority-text {
    @apply text-lg text-gray-800 mt-4 mb-20;
}

.priority-container {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8;
}

.priority-icons {
    @apply mx-auto h-20 w-20 text-blue-500;
}

.icons-title {
    @apply text-base font-semibold text-gray-800;
}

.icons-text {
    @apply text-sm text-gray-800 mt-2;
}

/* service cards section */

.service-cards-section {
    @apply py-12 mt-2 md:ml-20 md:mr-20 md:mb-20;
}

.service-section-heading {
    @apply text-3xl md:text-3xl font-bold mb-14;
}

.service-cards {
    @apply flex flex-wrap justify-center gap-6 p-4;
}

.bg-cards {
    @apply max-w-sm bg-white overflow-hidden bg-gray-100 flex flex-col hover:scale-105 hover:bg-blue-400;
}

.service-titles {
    @apply text-xl font-bold m-5 mt-5;
}

.service-img {
    @apply w-full h-48 object-cover;
}

.service-description {
    @apply text-gray-700 text-base;
}

.services-links {
    @apply text-blue-600 font-semibold hover:underline;
}

/* ----------- BLOG PAGE STYLING -------- */
.blog-container {
    @apply container mx-auto px-4;
}

.blog-cards-style {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
}

.bg-blog {
    @apply bg-white border shadow-md flex flex-col h-full overflow-hidden transform hover:scale-105 transition duration-300;
}

.blog-image {
    @apply w-full h-48 object-cover;
}

.blog-texts {
    @apply p-4 flex-grow flex flex-col;
}

.blog-titles {
    @apply text-lg font-semibold text-gray-800 mt-2 group-hover:text-blue-500;
}

.blog-description {
    @apply text-sm text-gray-600 mt-2 flex-grow;
}

/* ------ Privacy Policy Page Styling ------ */
.policy-container {
    @apply max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 mt-24;
}

.policy-title {
    @apply text-4xl sm:text-4xl font-bold text-black text-left mb-8;
}

.policy-heading {
    @apply text-2xl font-semibold text-primary mb-4;
}

/* ------- Terms and Conditions Page Styling ------- */
.tandc-section {
    @apply max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 mt-24;
}

.tandc-title {
    @apply text-4xl sm:text-4xl font-bold text-black text-left mb-8;
}

.tandc-heading {
    @apply text-xl font-semibold text-primary mb-4;
}

.tandc-text {
    @apply text-base leading-7;
}

/* ----------- Area Served Pages ------------ */

.areas-container {
    @apply container mx-auto py-10 px-4 lg:px-8 mt-10 mb-10 pt-0 md:pt-5;
}

.areas-grid {
    @apply grid grid-cols-1 lg:grid-cols-12 gap-10;
}

.areas-aside {
    @apply lg:col-span-4 space-y-6 order-last lg:order-first;
}

.aside-border {
    @apply bg-gray-50 shadow-md p-6 border-l-4 border-blue-600;
}

.aside-heading {
    @apply text-lg font-bold text-gray-800 mb-4;
}

.areas-name {
    @apply block px-4 py-3 bg-blue-100 text-blue-600 font-medium hover:bg-blue-200;
}

.contact-block {
    @apply bg-black text-white p-6 shadow-sm flex items-center;
}

.area-info {
    @apply lg:col-span-8 space-y-8;
}

.info-container {
    @apply relative overflow-hidden;
}

.area-info-text {
    @apply mt-5 p-2 bg-white text-gray-800 text-sm;
}

.area-info-text p {
    @apply text-base;
}

/* Services Pages */

.service-card {
    @apply bg-gray-50 shadow-lg p-6 border-l-4 border-blue-600;
}

.service-heading {
    @apply text-lg font-bold text-gray-800 mb-4;
}

.service-link {
    @apply block px-4 py-3 bg-blue-100 text-blue-700 font-medium hover:bg-blue-200;
}

.contact-card {
    @apply bg-black text-white p-6 shadow-lg flex items-center;
}

.carousel-container {
    @apply relative w-full overflow-hidden rounded-lg mt-0 md:pt-2 pt-0;
}

.carousel-dot {
    @apply w-4 h-4 rounded-full bg-gray-400 transition-colors;
}

.carousel-dot.active {
    @apply bg-blue-600;
}

.main-content {
    @apply lg:col-span-2 bg-white p-5 pt-0 text-gray-600 !important;
}

.section-title {
    @apply text-2xl font-semibold mt-8;
}

.icon-container {
    @apply flex items-start space-x-4 mt-6;
}

.icon-text {
    @apply text-gray-600;
}


/* Servives Description Pages Styling */

.service-content {
    margin: 0 20px;
    color: black;
}

.service-content h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.service-content p {
    margin-bottom: 20px;
    color: #3a3e45;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}


.service-content h3 {
    font-size: 24px;
    font-weight: 500;
}

/* Area Served Information Page */

.area-description {
    margin-top: 40px;
}

.area-description h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.area-description p {
    margin-bottom: 20px;
    color: #3a3e45;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

.area-description h2 {
    font-size: 28px;
    margin-top: 30px;
    font-weight: 500;
}


/* Blog Description Page Styling */

.blog-description-container {
    @apply container mx-auto px-4 py-8 mt-10;
}

.blog-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-10;
}

.blog-image {
    @apply transform transition-transform duration-300 hover:scale-95;
}

.blog-information {
    @apply text-sm flex items-center space-x-6 mb-4;
}

.user-icon {
    @apply text-blue-600 hover:text-blue-800 transition mr-2;
}

.icon-heading {
    @apply text-gray-600;
}

.blog-description-text {
    @apply text-gray-800 mt-2 text-base;
}

.blog-img2 {
    @apply object-cover transform transition-transform duration-300 hover:scale-95;
}

.blog-subheading {
    @apply text-2xl font-bold mt-2;
}

.blog-subheading-text {
    @apply text-gray-800 mt-4 text-base;
}

.horizontal-divide-line {
    @apply my-6 border-t-2 border-gray-300 mt-20;
}

.blog-search {
    @apply w-full px-4 py-2 border focus:outline-none focus:ring focus:ring-blue-300;
}

.recent-post-heading {
    @apply text-lg font-bold mb-4 mt-5;
}

.recent-blog-posts {
    @apply flex items-center space-x-4;
}

.recent-blog-img {
    @apply w-16 h-16 object-cover;
}

.recent-blog-title {
    @apply text-gray-800 hover:text-blue-600 font-medium;
}

.leave-reply-container {
    @apply container mx-auto mt-0 p-6 flex justify-start pl-0 mb-20;
}

.leave-reply-heading {
    @apply text-2xl font-bold mb-2;
}

.your-msg-placeholder {
    @apply w-full h-40 p-4 bg-gray-100 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.reply-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-4 mt-4;
}

.reply-form-fields {
    @apply w-full p-3 bg-gray-100 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.submit-btn {
    @apply mt-6 px-6 py-3 bg-red-600 text-white font-semibold rounded-md hover:bg-red-700 transition duration-300 hover:scale-105 hover:shadow-lg;
}

.blog-content h1 {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

.blog-content p {
    margin-bottom: 20px;
    color: #3a3e45;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

.blog-content h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

.blog-content * {
    font-size: 16px;
    margin-bottom: 10px;
}

/* HTML Sitemap */

.sitemap {
    @apply text-white py-4 mt-20 mb-10;
}

.sitemap-container {
    @apply container mx-auto px-4 text-center;
}

.sitemap-heading {
    @apply text-4xl text-blue-500 font-bold mt-12;
}

.sitemap-sub-text {
    @apply text-base text-black mt-3;
}

.sitemap-grid {
    @apply grid grid-cols-1 md:grid-cols-4 gap-8;
}

.grid-links-heading {
    @apply text-lg font-bold mb-4;
}

.grid-links {
    @apply text-blue-600 hover:underline;
}