<div class="areas-container">
    <div class="areas-grid">
        <aside class="areas-aside">
            <div class="aside-border">
                <h2 class="aside-heading">{{asideHeading}}</h2>
                <ul class="space-y-2">
                    <li>
                        <a href="{{area1}}" class="areas-name">
                            {{area1Name}}
                        </a>
                    </li>
                    <li>
                        <a href="{{area2}}" class="areas-name">
                            {{area2Name}}
                        </a>
                    </li>
                    <li>
                        <a href="{{area3}}" class="areas-name">
                            {{area3Name}}
                        </a>
                    </li>
                    <li>
                        <a href="{{area4}}" class="areas-name">
                            {{area4Name}}
                        </a>
                    </li>
                    <li>
                        <a href="{{area5}}" class="areas-name">
                            {{area5Name}}
                        </a>
                    </li>
                    <li>
                        <a href="{{area6}}" class="areas-name">
                            {{area6Name}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="contact-block">
                <img src="{{phoneImg}}" alt="Phone" class="h-12 w-12 mr-4">
                <div>
                    <h3 class="text-lg font-semibold">{{expertTalk}}</h3>
                    <p class="mt-1">{{contactNumber}}</p>
                </div>
            </div>
        </aside>

        <main class="area-info">
            <div class="info-container">
                <img src="{{areaImage}}" alt="City View" class="w-full h-96 object-cover">
                <div class="area-description">
                    <p> {{ content | markdown | safe }}</p>
                </div>
            </div>
        </main>
    </div>
</div>