<header class="sitemap">
    <div class="sitemap-container">
        <h1 class="sitemap-heading">Sitemap</h1>
        <p class="sitemap-sub-text">Explore all the sections of our website</p>
    </div>
</header>

<main class="container mx-auto px-6 mb-20 mt-10">
    <div class="sitemap-grid">
        <div>
            <a href="{{homePageLink}}">
                <h2 class="grid-links-heading">{{homePage}}</h2>
            </a>
            <ul class="space-y-2">
                <li><a href="{{aboutPageLink}}" class="grid-links">{{aboutPage}}</a></li>
                <li><a href="{{servicesPageLink}}" class="grid-links">{{servicesPage}}</a></li>
                <li><a href="{{areaServedPageLink}}" class="grid-links">{{areaServedPage}}</a></li>
                <li><a href="{{blogPageLink}}" class="grid-links">{{blogPage}}</a></li>
                <li><a href="{{galleryPageLink}}" class="grid-links">{{galleryPage}}</a></li>
                <li><a href="{{contactPageLink}}" class="grid-links">{{contactPage}}</a></li>
            </ul>
        </div>

        <div>
            <a href="{{servicesPageLink}}">
                <h2 class="grid-links-heading">{{servicePageHeading}}</h2>
            </a>
            <ul class="space-y-2">
                <li><a href="{{service1Link}}" class="grid-links">{{service1}}</a></li>
                <li><a href="{{service2Link}}" class="grid-links">{{service2}}
                    </a></li>
                <li><a href="{{service3Link}}" class="grid-links">{{service3}}
                    </a></li>
                <li><a href="{{service4Link}}" class="grid-links">{{service4}}
                    </a></li>
                <li><a href="{{service5Link}}" class="grid-links">{{service5}}
                    </a></li>
                <li><a href="{{service6Link}}" class="grid-links">{{service6}}</a>
                </li>
            </ul>

        </div>

        <div>
            <a href="{{areaServedLink}}">
                <h2 class="grid-links-heading">{{areaServedHeading}}</h2>
            </a>
            <ul class="space-y-2">
                <li><a href="{{area1Link}}" class="grid-links">{{area1}}</a>
                </li>
                <li><a href="{{area2Link}}" class="grid-links">{{area2}}</a></li>
                <li><a href="{{area3Link}}" class="grid-links">{{area3}}</a></li>
                <li><a href="{{area4Link}}" class="grid-links">{{area4}}</a></li>
                <li><a href="{{area5Link}}" class="grid-links">{{area5}}</a></li>
                <li><a href="{{area6Link}}" class="grid-links">{{area6}}</a>
                </li>
            </ul>
        </div>

        <div>
            <a href="{{blogPageLink}}">
                <h2 class="grid-links-heading">{{blogPageHeading}}</h2>
            </a>
            <ul class="space-y-2">
                <li><a href="{{blog1Link}}" class="grid-links">{{blog1}}</a>
                </li>
                <li><a href="{{blog2Link}}" class="grid-links">{{blog2}}</a></li>
                <li><a href="{{blog3Link}}" class="grid-links">{{blog3}}</a></li>
                <li><a href="{{blog4Link}}" class="grid-links">{{blog4}}</a></li>
            </ul>
        </div>
    </div>
</main>

<main class="container mx-auto px-6 mb-20 mt-10">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <div>
            <a href="../index.html">
                <h2 class="grid-links-heading">XML SITEMAP</h2>
            </a>
            <ul class="space-y-2">
                <li><a href="../sitemap.xml" class="grid-links">sitemap.xml</a></li>
            </ul>
        </div>
</main>