<div class="bg-primary mb-10">
    <div class="about-counter-container">
        <div class="text-center mx-4">
            <h2 class="counter-num" id="years">{{ numValue }}</h2>
            <p class="counter-name">{{ counterOneh1}}<br />{{ counterOneh2 }}</p>
        </div>

        <div class="text-center mx-4">
            <h2 class="counter-num" id="projects">{{ numValue }}</h2>
            <p class="counter-name">{{ counterTwoh1 }}<br />{{ counterTwoh2 }}</p>
        </div>

        <div class="text-center mx-4">
            <h2 class="counter-num" id="customers">{{ numValue }}</h2>
            <p class="counter-name">{{ counterThreeh1 }}<br />{{ counterThreeh2 }}</p>
        </div>
    </div>
</div>