<div class="exp-section">
    <div class="flex-1 ml-10">
        <div class="expImg">
            <img src="{{ quoteImg }}" alt="quote image">
        </div>
        <p class="exp-Text1">
            {{ exptext1 }} <span class="text-blue-500">{{ exptext2 }}</span> {{ exptext3 }}
        </p>
        <div class="mt-6 ">
            <p class="person-name">{{ personName }}</p>
            <p class="ceo-text">{{ position }}</p>
        </div>
        <div class="mt-4">
            <img src="{{ sign }}" alt="Signature" class="w-32">
        </div>
    </div>

    <div class="ceo-img">
        <img src="{{ ceo }}" alt="CEO Image" class="w-[50px]" style="height: 35rem, object-contain;">
    </div>
</div>