<div class="whatwedo-section" style="background-image: url(/resources/assets/whatWeDo.png); height:750px">
    <div class="whatwedo-container">
        <div class="wwd-heading-style">
            <div class="mb-10">
                <h3 class="wwd-heading">{{wwdHeading}}</h3>
                <h2 class="wwt-text">
                    {{wwtText1}} <span class="text-primary">{{wwtText2}}</span>{{wwtText3}}
                </h2>
            </div>

            <div class="circle-container ">
                <div class="w-1/2 sm:w-1/4 lg:w-1/4 ">
                    <div class="progress-container lg:ml-20 ml-8">
                        <svg class="absolute inset-0 w-full h-full svg-circle" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="45" class="text-gray-500" stroke-width="10" fill="none"></circle>
                            <circle cx="50" cy="50" r="45" class="text-primary progress" stroke-width="10" fill="none"
                                stroke-dasharray="282.6" stroke-dashoffset="282.6"></circle>
                        </svg>
                        <p class="circle-progressbar">45%</p>
                    </div>
                    <p class="progress-text">
                        <span class="font-semibold">{{c1Text1}}</span>{{c1Text2}}
                    </p>
                </div>

                <div class="w-1/2 sm:w-1/4 lg:w-1/4">
                    <div class="progress-container lg:ml-20 ml-8">
                        <svg class="absolute inset-0 w-full h-full svg-circle" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="45" class="text-gray-500" stroke-width="10" fill="none"></circle>
                            <circle cx="50" cy="50" r="45" class="text-primary progress" stroke-width="10" fill="none"
                                stroke-dasharray="282.6" stroke-dashoffset="282.6"></circle>
                        </svg>
                        <p class="circle-progressbar">90%</p>
                    </div>
                    <p class="progress-text">
                        <span class="font-semibold">{{c2Text1}}</span>{{c2Text2}}
                    </p>
                </div>

                <div class="w-1/2 sm:w-1/4 lg:w-1/4">
                    <div class="progress-container lg:ml-20 ml-8">
                        <svg class="absolute inset-0 w-full h-full svg-circle" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="45" class="text-gray-500" stroke-width="10" fill="none"></circle>
                            <circle cx="50" cy="50" r="45" class="text-primary progress" stroke-width="10" fill="none"
                                stroke-dasharray="282.6" stroke-dashoffset="282.6"></circle>
                        </svg>
                        <p class="circle-progressbar">50%</p>
                    </div>
                    <p class="progress-text">
                        {{c3Text1}} <span class="font-semibold">{{c3Text2}}</span>{{c3Text3}}
                    </p>
                </div>

                <div class="w-1/2 sm:w-1/4 lg:w-1/4">
                    <div class="progress-container lg:ml-20 ml-8">
                        <svg class="absolute inset-0 w-full h-full svg-circle" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="45" class="text-gray-500" stroke-width="10" fill="none"></circle>
                            <circle cx="50" cy="50" r="45" class="text-primary progress" stroke-width="10" fill="none"
                                stroke-dasharray="282.6" stroke-dashoffset="282.6"></circle>
                        </svg>
                        <p class="circle-progressbar">40%</p>
                    </div>
                    <p class="progress-text">{{c4Text1}}
                        <span class="font-semibold">{{c4Text2}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>