<div class="why-choose-us">
    <div class="flex-1 w-full md:w-1/2">
        <img src="{{whyUsImg}}" alt="Why Choose us Image" class="why-us-img ">
    </div>

    <div class="why-choose-us-container">
        <h2 class="whyus-heading">
            <span class="text-blue-500">{{whyUsh1}}</span> {{whyUsh2}}
        </h2>
        <p class="whyus-text">
            {{whyusTextOne}}
        </p>
        <p class="whyus-text">
            {{whyusTextTwo}}
        </p>

        <p class="whyus-text">
            {{whyusTextThree}}
        </p>
        <div class="mt-10">
            <a href="contactUs.html">
                <button class="btn-whyus">
                    {{bookBtn}}
                </button>
            </a>
        </div>
    </div>
</div>