---

title: Area Four
bannerImg: "/resources/assets/servedAreaBackground.png"
pageTitle: Buffalo


asideHeading : Service Areas
area1 : /service-areas/area1/
area1Name : New York Metro Area
area2 : /service-areas/area2/
area2Name : Albany
area3 : /service-areas/area3/
area3Name : Yonkers
area4 : /service-areas/area4/
area4Name: Buffalo
area5 : /service-areas/area5/
area5Name : Syracuse
area6 : /service-areas/area6/
area6Name : Rochester

phoneImg : /resources/assets/telephone.png
expertTalk : Talk to an Expert
contactNumber : Call us at 800 555 284

areaImage : /resources/assets/areaServedFour.png
areaDescription : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, asperiores atque consectetur
reiciendis animi, nisi laudantium quod ullam officia minima esse officiis eum consequatur commodi ab, velit nostrum
exercitationem eius vel? Quibusdam autem, iusto fugit voluptate, ducimus ipsum fugiat explicabo cum animi mollitia
perferendis, similique quaerat recusandae vitae porro! Id."
---

{% extends "components/shared/base.html" %}

{% block content %}

{% include "components/shared/banner.html" %}

{% include "components/service-areas/areas.html" %}

{% endblock %}