<!-- Area Served -->

<div class="area-served-container  ">
    <h2 class="area-served-heading">{{areah1}} <span class="text-primary">{{areah2}}</span></h2>
    <br>
    <div class="area-cards-container">
        <div class="relative group ">
            <img src="{{areaimg1}}" alt="area one" class="area-card-image ">
            <div class="card-styling">
                <h3 class="area-name">{{areaname1}}</h3>
                <a href="{{area1Link}}" class="arrow-icon"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>

        <div class="relative group">
            <img src="{{areaimg2}}" alt="area two" class="area-card-image">
            <div class="card-styling">
                <h3 class="area-name">{{areaname2}}</h3>
                <a href="{{area2Link}}" class="arrow-icon"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>

        <div class="relative group">
            <img src="{{areaimg3}}" alt="area three" class="area-card-image">
            <div class="card-styling">
                <h3 class="area-name">{{areaname3}}</h3>
                <a href="{{area3Link}}" class="arrow-icon"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>

        <div class="relative group">
            <img src="{{areaimg4}}" alt="area four" class="area-card-image">
            <div class="card-styling">
                <h3 class="area-name">{{areaname4}}</h3>
                <a href="{{area4Link}}" class="arrow-icon"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>

        <div class="relative group">
            <img src="{{areaimg5}}" alt="area five" class="area-card-image">
            <div class="card-styling">
                <h3 class="area-name">{{areaname5}}</h3>
                <a href="{{area5Link}}" class="arrow-icon"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>

        <div class="relative group">
            <img src="{{areaimg6}}" alt="area six" class="area-card-image">
            <div class="card-styling">
                <h3 class="area-name">{{areaname6}}</h3>
                <a href="{{area6Link}}" class="arrow-icon"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>