<section class="blog-section" style="background-image: url('images/bgScrewBackground.png');">

    <div class="blog-cards-container" data-aos="fade-up">

        <!-- Card 1 -->
        <div class="blog-cards">
            <img src="{{blogimg1}}" alt="Faucet installation" class="blog-card-image">
            <div class="p-4">
                <p class="blog-head">{{blog}}</p>
                <h3 class="blog-card-heading">{{blog1}}</h3>
                <a href=""><button class="blog-btn ">
                        {{blogBtn}}
                    </button></a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="blog-cards">
            <img src="{{blogimg2}}" alt="Water filter cleaning" class="blog-card-image">
            <div class="p-4">
                <p class="blog-head">{{blog}}</p>
                <h3 class="blog-card-heading">{{blog2}}</h3>
                <a href=""><button class="blog-btn ">
                        {{blogBtn}}
                    </button></a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="blog-cards">
            <img src="{{blogimg3}}" alt="Drain cleaning" class="blog-card-image">
            <div class="p-4">
                <p class="blog-head">{{blog}}</p>
                <h3 class="blog-card-heading">{{blog3}}</h3>
                <a href=""><button class="blog-btn ">
                        {{blogBtn}}
                    </button></a>
            </div>
        </div>
    </div>
    <a href=""><button class="blog-btn mt-10 ">
            {{allBlogs}}
        </button></a>
    <br>