<div class="cards-section">
    <div class="card-container">
        <div class="cards-grid">
            <!-- Card 1 -->
            <div class="card bg-blue-600" data-aos="fade-up">
                <img src="{{cardimg1}}" alt="Plumbing Services" class="card-image" />
                <div class="card-content">
                    <h3 class="card-title">{{card1}}</h3>
                    <p class="card-text">
                        {{cardtext1}}
                    </p>
                    <a href="#" class="card-link">
                        {{cardbtn}}
                    </a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card bg-blue-400" data-aos="fade-up" data-aos-delay="200">
                <img src="/resources/assets/personTwo.png" alt="Installation Services" class="card-image" />
                <div class="card-content">
                    <h3 class="card-title">{{card2}}</h3>
                    <p class="card-text">
                        {{cardtext2}}
                    </p>
                    <a href="#" class="card-link">
                        {{cardbtn}}
                    </a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card bg-blue-600" data-aos="fade-up" data-aos-delay="400">
                <img src="{{cardimg3}}" alt="Specialized Plumbing Services" class="card-image" />
                <div class="card-content">
                    <h3 class="card-title">{{card3}}</h3>
                    <p class="card-text">
                        {{cardtext3}}
                    </p>
                    <a href="#" class="card-link">
                        {{cardbtn}}
                    </a>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="">
                <button class="more-service-btn">
                    {{morebtn}}
                </button>
            </a>
        </div>
    </div>
</div>