<section class="contact-details " style="background-image: url('resources/assets/review.png');">
    <div class="contact-bg"></div>

    <div class="contact-container animate__animated animate__fadeInDown">
        <div class="contact-container-styling ">
            <h2 class="contact-heading">{{contactHeading1}} <span class="text-gray-800">{{contactHeading2}}</span>
            </h2>
            <p class="head-text">{{contactText}}</p>
            <div class="block-info">
                <div class="block-styling">
                    <div class="block-number">{{contact1}}</div>
                    <p class="block-text">{{contactText1}}</p>
                </div>
                <div class="block-styling">
                    <div class="block-number">{{contact2}}</div>
                    <p class="block-text">{{contactText2}}</p>
                </div>
                <div class="block-styling">
                    <div class="block-number">{{contact3}}</div>
                    <p class="block-text">{{contactText3}}</p>
                </div>
                <div class="block-styling">
                    <div class="block-number">{{contact4}}</div>
                    <p class="block-text">{{contactText4}}</p>
                </div>
            </div>
            <div class="info-block">
                <div class="info-block-styling animate__animated animate__fadeInUp">
                    <div class="block-icon"><i class="fa-sharp fa-solid fa-location-dot"></i></div>
                    <h3 class="info-block-text">{{ourLocation}}</h3>
                    <p>{{add1}}<br>{{add2}}<br>{{add3}}</p>
                </div>
                <div class="info-block-styling animate__animated animate__fadeInUp">
                    <div class="block-icon"><i class="fa-solid fa-clock"></i></div>
                    <h3 class="info-block-text">{{hours}}</h3>
                    <p>{{time1}}<br>{{time2}}</p>
                </div>
                <div class="info-block-styling animate__animated animate__fadeInUp">
                    <div class="block-icon"><i class="fa-solid fa-phone"></i></div>
                    <h3 class="info-block-text">{{phone}}</h3>
                    <p>{{phone1}}<br>{{phone2}}<br>{{phone3}}</p>
                </div>
                <div class="info-block-styling animate__animated animate__fadeInUp">
                    <div class="block-icon"><i class="fa-solid fa-envelope"></i></div>
                    <h3 class="info-block-text">{{mail}}</h3>
                    <p>{{mail1}}<br>{{mail2}}</p>
                </div>
            </div>
        </div>
    </div>

</section>