<!-- 24/7 Emergency Service Section -->

<h2 class="emergency-service-heading">
    {{emergemcyHead1}} <span class="text-primary">{{emergemcyHead2}}</span> {{emergemcyHead3}}
</h2>
<br>

<div class="emergency-service-container" data-aos="fade-up">

    <div class="emergency-services">
        <i class="fa-solid fa-truck-fast"></i>
        <div>
            <h3 class="emergency-service-title">{{service1}}</h3>
            <p class="service-description">{{serviceText1}}</p>
        </div>
    </div>

    <div class="emergency-services">
        <i class="fa-solid fa-house-crack"></i>
        <div>
            <h3 class="emergency-service-title">{{service2}}</h3>
            <p class="service-description">{{serviceText2}}</p>
        </div>
    </div>

    <div class="emergency-services">
        <i class="fa-regular fa-user-helmet-safety"></i>
        <div>
            <h3 class="emergency-service-title">{{service3}}</h3>
            <p class="service-description">{{serviceText3}}</p>
        </div>
    </div>

    <div class="emergency-services">
        <i class="fa-solid fa-badge-check"></i>
        <div>
            <h3 class="emergency-service-title">{{service4}}</h3>
            <p class="service-description">{{serviceText4}}</p>
        </div>
    </div>
</div>
</section>