<section class="hero-section" style="background-image: url('/resources/assets/hero-background.jpg');">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="hero-heading">
            {{heroText1}} <span class="text-blue-400">{{heroText2}}</span> <br> {{heroText3}}
        </h1>

        <div class="hero-contact">
            <div class="hero-contact-icon">
                <img src="resources/assets/telephone.png" alt="Phone Icon">
            </div>
            <span class="hero-contact-number">{{businessInfo.businessPhone}}</span>
        </div>

        <br>
        <a href="./pages/contactUs.html">
            <button class="btn-red">
                {{heroBtnText}}
            </button>
        </a>
    </div>

    <div class="hero-image">
        <img src="resources/assets/person.png" alt="Plumber Image">
    </div>
</section>