<section class="plumbing-care-section" style="background-image: url('resources/assets/bgImage.png');"
    data-aos="fade-up">

    <!-- Header Section -->
    <div class="bg-header" data-aos="fade-down">
        <h2 class="title-header">
            {{estimateHeading}}
        </h2>
    </div>

    <div class="care-bg-overlay">

        <!-- Main Content Section -->
        <div class="care-main-content" data-aos="fade-up">
            <h1 class="care-heading">
                {{careHead1}}<span class="text-primary"> {{careHead2}} </span>{{careHead3}}<br>{{careHead4}}
            </h1>

            <!-- Counter Section -->
            <div class="counter-section">
                <div class="counter-box" data-aos="fade-up" data-aos-delay="400">
                    <span class="counter-value counter" data-count="60">0</span><span class="text-2xl">%</span>
                    <p class="counter-description">{{counterOneh1}} <span
                            class="font-bold">{{counterOneh2}}</span>{{counterOneh3}}</p>
                </div>
                <div class="counter-box" data-aos="fade-up" data-aos-delay="500">
                    <span class="counter-value counter" data-count="180">0</span><span class="text-2xl">gal</span>
                    <p class="counter-description">{{counterTwoh1}} <span class="font-bold">{{counterTwoh2}}</span></p>
                </div>
                <div class="counter-box" data-aos="fade-up" data-aos-delay="600">
                    <span class="counter-value counter" data-count="120">0</span>
                    <p class="counter-description">{{counterThreeh1}}<span class="font-bold">{{counterThreeh2}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>