<section class="carousel-container">
    <h2 class="section-heading">{{serviceHeading1}}<span class="text-primary"> {{serviceHeading2}}</span></h2>

    <div class="carousel relative overflow-hidden">
        <div class="slides flex transition-transform duration-500">

            <!-- Slide 1 -->
            <div class="slide slide-style">
                <div class="carousel-image">
                    <img src="{{slideimg1}}" alt="Service Illustration 1" class="image-style">
                </div>
                <div class="carousel-content content-style">
                    <h3>{{onehead1}}<span class="text-primary"><br>{{onehead2}}</span></h3>
                    <div class="mt-4">
                        <p class="title"><i class="fa-solid fa-pipe-valve"></i>{{slideOne1}}</p>
                        <p class="description">{{slideOneText1}}
                        </p>
                    </div>
                    <div class="mt-4">
                        <p class="title"><i class="fa-regular fa-grate-droplet"></i>{{slideOne2}}</p>
                        <p class=" description">{{slideOneText2}}</p>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="slide slide-style">
                <div class="carousel-image">
                    <img src="{{slideimg2}}" alt="Service Illustration 2" class="image-style">
                </div>
                <div class="carousel-content content-style">
                    <h3>{{twohead1}}For Companies Only: Buy
                        <span class="text-primary"><br> {{twohead2}}</span>
                    </h3>
                    <div class="mt-4">
                        <p class="title"><i class="fa fa-wrench"></i>{{slideTwo1}} Fixture Repairs</p>
                        <p class="description">{{slideTwoText1}}
                        </p>
                    </div>
                    <div class="mt-4">
                        <p class="title"><i class="fa-regular fa-reply-clock"></i>{{slideTwo2}}</p>
                        <p class="description">{{slideTwoText2}}</p>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="slide slide-style">
                <div class="carousel-image">
                    <img src="{{slideimg3}}" alt="Service Illustration 3" class="image-style">
                </div>
                <div class="carousel-content content-style">
                    <h3>{{threehead1}}
                        <span class="text-primary"><br>{{threehead2}}</span>
                    </h3>
                    <div class="mt-4">
                        <p class="title"><i class="fa-solid fa-check-to-slot"></i>{{slideThree1}}</p>
                        <p class="description">{{slideThreeText1}}</p>
                    </div>
                    <div class="mt-4">
                        <p class="title"><i class="fa-sharp fa-solid fa-house-chimney-heart"></i>{{slideThree1}}</p>
                        <p class="description">{{slideThreeText2}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <button class="prev control-style">←</button>
        <button class="next control-style">→</button>

    </div>
    <!-- Dots -->
    <div class="dots flex justify-center mt-4 space-x-2">
        <button class="dot dot-style"></button>
        <button class="dot dot-style"></button>
        <button class="dot dot-style"></button>
    </div>
</section>