<section class="gallery-section">
    <div class="gallery-container">

        <div class="gallery-cards group">
            <img src="{{galleryImg1}}" alt="Repair Inspections & Testing" class="gallery-card-img" />
            <div class="gallery-card-style">
                <div class="gallery-card-details">
                    <span class="gallery-card-title">{{galleryCard1}}</span>
                    <span class="text-lg">{{galleryText1}}</span>
                </div>
            </div>
        </div>


        <div class="gallery-cards group">
            <img src="{{galleryImg2}}" alt="Electrical Maintenance" class="gallery-card-img" />
            <div class="gallery-card-style">
                <div class="gallery-card-details">
                    <span class="gallery-card-title">{{galleryCard2}}</span>
                    <span class="text-lg">{{galleryText2}}</span>
                </div>
            </div>
        </div>


        <div class="gallery-cards group">
            <img src="{{galleryImg3}}" alt="Safety Testing" class="gallery-card-img" />
            <div class="gallery-card-style">
                <div class="gallery-card-details">
                    <span class="gallery-card-title">{{galleryCard3}}</span>
                    <span class="text-lg">{{galleryText3}}</span>
                </div>
            </div>
        </div>


        <div class="gallery-cards group">
            <img src="{{galleryImg4}}" alt="Industrial Tools" class="gallery-card-img" />
            <div class="gallery-card-style">
                <div class="gallery-card-details">
                    <span class="gallery-card-title">{{galleryCard4}}</span>
                    <span class="text-lg">{{galleryText4}}</span>
                </div>
            </div>
        </div>


        <div class="gallery-cards group">
            <img src="{{galleryImg5}}" alt="Wiring Installation" class="gallery-card-img" />
            <div class="gallery-card-style">
                <div class="gallery-card-details">
                    <span class="gallery-card-title">{{galleryCard5}}</span>
                    <span class="text-lg">{{galleryText5}}</span>
                </div>
            </div>
        </div>


        <div class="gallery-cards group">
            <img src="{{galleryImg6}}" alt="High Voltage Safety" class="gallery-card-img" />
            <div class="gallery-card-style">
                <div class="gallery-card-details">
                    <span class="gallery-card-title">{{galleryCard6}}</span>
                    <span class="text-lg">{{galleryText6}}</span>
                </div>
            </div>
        </div>
    </div>
</section>