<section class="form-container">
    <div class="container mx-auto px-4">
        <div class="form-section">
            <div class="form-section-style">

                <!-- Card 1 -->
                <div class="form-cards">
                    <div class="card-img">
                        <img src="{{card1img}}" alt="Location Icon" class="w-8 h-8">
                    </div>
                    <h3 class="visit">{{visit1}}</h3>
                    <p class="visit-text">{{visit1Text1}}<br>{{visit1Text2}}</p>
                </div>

                <!-- Card 2 -->
                <div class="form-cards">
                    <div class="card-img">
                        <img src="{{card2img}}" alt="Email Icon" class="w-8 h-8">
                    </div>
                    <h3 class="visit">{{visit2}}</h3>
                    <p class="visit-text">{{visit2Text1}}<br>{{visit2Text2}}</p>
                </div>

                <!-- Card 3 -->
                <div class="form-cards">
                    <div class="card-img">
                        <img src="{{card3img}}" alt="Clock Icon" class="w-8 h-8">
                    </div>
                    <h3 class="visit">{{visit3}}</h3>
                    <p class="visit-text">{{visit3Text1}}<br>{{visit3Text2}}</p>
                </div>
            </div>

            <div class="col-span-1 md:col-span-3">
                <div class="form-details bg-white shadow-md rounded-lg p-6 md:p-8 h-full">
                    <h2 class="form-heading">{{formHeading1}}<span class="text-blue-500"> {{formHeading2}}</span></h2>
                    <form id="contact-form" action="/api/send_email/" method="POST" class="space-y-4 md:space-y-6">
                        <div class="form-grid">

                            <input type="text" id="name" placeholder="Enter your name" class="form-placeholder"
                                required />

                            <input type="email" id="email" placeholder="Enter your email" class="form-placeholder"
                                required />

                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">

                            <input type="text" placeholder="Your address" id="address" class="form-placeholder"
                                required />

                            <input type="text" placeholder="Your subject" id="subject" class="form-placeholder"
                                required />

                        </div>

                        <textarea placeholder="Write your message" rows="4" id="message"
                            class="form-placeholder"></textarea>

                        <button class="btn-red ml-0" type="submit">
                            {{sendmsg}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>